html {
    font-size: 0.7rem;
}

.navbar-brand span {
    display: inline-block;
    margin-left: 10px;
}

.badge {
    margin-left: 10px;
}

div.tooltip-inner {
    font-size: 1rem;
}

a, a:link, a:visited, a:hover, a:focus, a:active {
    color: inherit;
}

.tableFixHead {
    overflow-y: auto;
    max-height: 300px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

.break-text p {
    word-break: break-all;
}

.card.bg-light .card-header {
    background-color: #e8e8e8;
}

.card.bg-light>.card-body {
    background-color: #f1f1f1;
}

.card .card-responsive .card-footer {
    background-color: rgba(0, 0, 0, .06);
}

@media (min-width: 576px) {
    .modal-dialog {
        margin-top: 2.5rem;
    }
}

.card-deck {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

@media (max-width: 575px) {
    .card-responsive {
        /* 1 per line */
        /* calc ((100% - (CardMargin*NumberCardPerLine)) / NumberCardPerLine) */
        min-width: calc((100% - 30px) / 1) !important;
        max-width: calc((100% - 30px) / 1) !important;
    }
}

@media (min-width: 576px) and (max-width: 949px) {
    .card-responsive {
        /* 2 per line */
        min-width: calc((100% - 60px) / 2) !important;
        max-width: calc((100% - 60px) / 2) !important;
    }
}

@media (min-width: 950px) and (max-width: 1228px) {
    .card-responsive {
        /* 3 per line */
        min-width: calc((100% - 90px) / 3) !important;
        max-width: calc((100% - 90px) / 3) !important;
    }
}

@media (min-width: 1229px) and (max-width: 1409px) {
    .card-responsive {
        /* 4 per line*/
        min-width: calc((100% - 120px) / 4) !important;
        max-width: calc((100% - 120px) / 4) !important;
    }
}

@media (min-width: 1410px) and (max-width: 1655px) {
    .card-responsive {
        /* 5 per line */
        min-width: calc((100% - 150px) / 5) !important;
        max-width: calc((100% - 150px) / 5) !important;
    }
}

@media (min-width: 1656px) and (max-width: 1920px) {
    .card-responsive {
        /* 6 per line */
        min-width: calc((100% - 180px) / 6) !important;
        max-width: calc((100% - 180px) / 6) !important;
    }
}

@media (min-width: 1921px) and (max-width: 2150px) {
    .card-responsive {
        /* 7 per line*/
        min-width: calc((100% - 210px) / 7) !important;
        max-width: calc((100% - 210px) / 7) !important;
    }
}

@media (min-width: 2151px) and (max-width: 2475px) {
    .card-responsive {
        /* 8 per line*/
        min-width: calc((100% - 240px) / 8) !important;
        max-width: calc((100% - 240px) / 8) !important;
    }
}

@media (min-width: 2476px) and (max-width: 2750px) {
    .card-responsive {
        /* 9 per line*/
        min-width: calc((100% - 270px) / 9) !important;
        max-width: calc((100% - 270px) / 9) !important;
    }
}

@media (min-width: 2751px) and (max-width: 3025px) {
    .card-responsive {
        /* 10 per line*/
        min-width: calc((100% - 300px) / 10) !important;
        max-width: calc((100% - 300px) / 10) !important;
    }
}

@media (min-width: 3026px) {
    .card-responsive {
        /* 11 per line*/
        min-width: calc((100% - 330px) / 11) !important;
        max-width: calc((100% - 330px) / 11) !important;
    }
}