.tags-input-wrapper input {
    outline: none;
}

.tags-input-wrapper .tag {
    display: inline-block;
    background-color: #009432;
    color: white;
    border-radius: 40px;
    padding: 0px 3px 0px 7px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
}